<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="utf-8" />
    @* Thiết định khung nhìn để trang web dễ nhìn trên tất cả các thiết bị. *@
    @* Trong đó: *@
    @*   width=device-width là để điều chỉnh cho khớp độ rộng màn hình với số pixel của thiết bị. *@
    @*   initial-scale=1 để thiết lập tỉ lệ zoom ban đầu là 1:1 giữa pixel CSS và pixel của thiết bị. *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @* Báo cho Google có thực hiện hay không việc lập chỉ mục (index), hay theo dõi (follow) trang hay không? *@
    <meta name="robots" content="noindex">
    @* Chế độ xem tương thích chỉ ảnh hưởng đến IE8, 9 và 10.
        Nó chỉ được giới thiệu trong IE8 và đã bị vô hiệu hóa trong IE11. *@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @* Tự động tải lại trang web sau 30s. *@
    @*<meta http-equiv="refresh" content="30">*@
    @* Định nghĩa một từ khóa cho trang web. *@
    <meta name="keywords" content="Froala">
    @* Định nghĩa một mô tả cho trang web. *@
    <meta name="description" content="Froala">
    @* Định nghĩa tác giả của trang web. *@
    <meta name="author" content="Nguyễn Viết Mạnh">
    <title>@ViewBag.Title</title>
    @* Modernizr là một thư viện JavaScript nhẹ dùng để nhận biết tính năng HTML5 và CSS3 trong trình duyệt của bạn. *@
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/froala_editor.css" rel="stylesheet" />
    <link href="~/Content/froala_page.css" rel="stylesheet" />
    <link href="~/Content/themes/dark.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/toast.css" rel="stylesheet" />
    <link href="~/Content/ajax-loading.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Froala Demo</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Old Version <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://github.com/froala/wysiwyg-editor/releases/tag/froala_editor_1.0.3">Version 1.0.3</a></li>
                        <li><a href="https://github.com/froala/wysiwyg-editor/releases?page=9">Version 1.2.6</a></li>
                        <li><a href="https://froala.com/wysiwyg-editor/changelog/#3.0.0">Version 3.0.0</a></li>
                        <li><a href="https://froala.com/wysiwyg-editor/changelog/#3.2.7">Version 3.2.7</a></li>
                        <li><a href="https://froala.com/wysiwyg-editor/changelog/#4.0.0">Version 4.0.0</a></li>
                        <li><a href="https://froala.com/wysiwyg-editor/changelog/#4.0.7">Version 4.0.7</a></li>
                    </ul>
                </li>
                <li><a href="#">Current Version (4.0.7)</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/froala_editor.min.js"></script>

    <!--[if lt IE 9]>
    <script src="~/Scripts/froala_editor_ie8.min.js"></script>
    <![endif]-->

    <script src="~/Scripts/langs/ja.js"></script>
    <script src="~/Scripts/plugins/block_styles.min.js"></script>
    <script src="~/Scripts/plugins/colors.min.js"></script>
    <script src="~/Scripts/plugins/file_upload.min.js"></script>
    <script src="~/Scripts/plugins/font_family.min.js"></script>
    <script src="~/Scripts/plugins/font_size.min.js"></script>
    <script src="~/Scripts/plugins/lists.min.js"></script>
    <script src="~/Scripts/plugins/media_manager.min.js"></script>
    <script src="~/Scripts/plugins/tables.min.js"></script>
    <script src="~/Scripts/plugins/video.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toast.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        $body = $("body");
        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
        });
    </script>
</body>
</html>