################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vs
.vs/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
ffmpeg
*.suo
*.user
_ReSharper.*
packages