@{
    ViewBag.Title = "Index";
}

<div class=" container">
    <div class="row">
        <div class="col-12">
            <h3>Version 4.0.7</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <textarea id="froala-editor">Initialize the Froala WYSIWYG HTML Editor on a textarea.</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Browser Support:</h3>
            <ul style="margin-left: 25px;">
                <li>Internet Explorer 11+</li>
                <li>Microsoft Edge (Current - 1) and Current versions</li>
                <li>Safari (Current - 1) and Current versions</li>
                <li>Firefox (Current - 1) and Current versions</li>
                <li>Chrome (Current - 1) and Current versions</li>
                <li>Opera (Current - 1) and Current versions</li>
                <li>iOS 10+</li>
                <li>Android 6+</li>
            </ul>
        </div>
    </div>
</div>

@* Ajax Loading *@
<div class="modal"><!-- Place at bottom of page --></div>

@*
Simple jQuery Toast Notifications (Growl): https://codepen.io/kieran/pen/ajLvjm
*@
<div id="toasts"></div>

@section Scripts
{
    <script type="text/javascript">
        new FroalaEditor('textarea#froala-editor')
    </script>
}
