@{
    ViewBag.Title = "Index";
}


<div class=" container">
    <div class="row">
        <div class="col-12">
            <h3>Version 4.0.7</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="froala-editor"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Browser Support:</h3>
            <ul style="margin-left: 25px;">
                <li>Internet Explorer 11+</li>
                <li>Microsoft Edge (Current - 1) and Current versions</li>
                <li>Safari (Current - 1) and Current versions</li>
                <li>Firefox (Current - 1) and Current versions</li>
                <li>Chrome (Current - 1) and Current versions</li>
                <li>Opera (Current - 1) and Current versions</li>
                <li>iOS 10+</li>
                <li>Android 6+</li>
            </ul>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        // Way 1:
        // new FroalaEditor('div#froala-editor');
        // --------------------------------------------------
        // Way 2:
        new FroalaEditor('#froala-editor', {
            documentReady: true,
            toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'getPDF', 'print', 'help', 'html', '|', 'undo', 'redo', 'trackChanges', 'markdown']
        });
    </script>
}
